[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=StellariumN9
Exec=/opt/StellariumN9/bin/StellariumN9
Icon=StellariumN964
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
